# Supabase PostgreSQL Transaction Pooler Connection URL (Port 6543)
DATABASE_URL="postgres://postgres.[YOUR-PROJECT-REF]:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Supabase Direct Connection URL (Port 5432 for Prisma migrations & db push)
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.quzzmucyzwzutfqlgrzq.supabase.co:5432/postgres"

PORT=5000
NODE_ENV=production
JWT_SECRET=logiflow_production_secret_key_2026_super_secure
